
@mixin style_btn {
    border: none;
    height: 7rem;
    width: 100%;
    border-radius: 1.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    box-shadow: 0px 4px 10px 1px #dddddd;
    color: black;
    background-color: white;    
}

@mixin bouton_rose {
        background-image: linear-gradient(to bottom, $secondaire, $primaire);
        justify-content: center;
        border: none;
        height: 5rem;
        width: 60%;
        border-radius: 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        box-shadow: 0px 5px 10px 2px #CDCDCD;
        color: white;
        margin-bottom: 0px;
}

@mixin coeur{     
        width: auto;
        position: absolute;            
        top: 79%;
        left: 85%;
        cursor: pointer;            
        
        .coeur_vide, .coeur_plein{
            width: 22px; 
            height: 22px;  
            position: absolute;              
        }              

        .coeur_plein{                 
            opacity: 0;     
        }

        &:hover .coeur_vide{
            opacity: 0;
        }             

        &:hover .coeur_plein{
            animation: apparition 1s ease-in-out forwards;                  
              
            @keyframes apparition {
                0% {
                  opacity: 0.2;
                }
                50% {    
                  opacity: 0.5;
                }  
                100% {
                  opacity: 1;
                }
            }
        }
}      

@mixin coeur_menu{     
    width: auto;
    position: absolute;            
    top: 3.3%;
    left: 85%;
    cursor: pointer;            
    
    .coeur_vide, .coeur_plein{
        width: 22px; 
        height: 22px;  
        position: absolute;              
    }              

    .coeur_plein{                 
        opacity: 0;     
    }

    &:hover .coeur_vide{
        opacity: 0;
    }             

    &:hover .coeur_plein{
        animation: apparition 1s ease-in-out forwards;                  
          
        @keyframes apparition {
            0% {
              opacity: 0.2;
            }
            50% {    
              opacity: 0.5;
            }  
            100% {
              opacity: 1;
            }
        }
    }
}           


@mixin icones_fonctionnement{
    font-size: 2rem;
    color: #7e7e7e;
}

@mixin flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_start {
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}

@mixin flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin centrage_page{
    width: 90%;
    margin: auto;
}

@mixin coeur_degrade {
    background-image: linear-gradient(to top, $secondaire, $primaire)
}

@mixin h1_ {
    font-family: Shrikhand, serif;
    font-size: 3.2rem;
    text-decoration: none;
    color: black;
    margin: 0px;  
    padding-bottom: 10px; 
    border-bottom: 1px solid lightgrey; 
    box-shadow: 0px 3px 5px #cdcdcd;
    background-color: white;    
}