@import "variables";
@import "mixins";
@import "normalize.css";

:root{
    font-size: 10px;
    width: 100%;
}

body{
    margin: 0px;
    font-family: Roboto, serif;

    a{
        text-decoration: none;
        color: black;
        color: #353535;
    }

    h2{
        font-family: Shrikhand, Roboto, serif;
        font-size: 2.8rem;
        font-weight: 100;
        margin-bottom: 10px;
    }

    h3{
        font-size: 1.6rem;
        font-weight: 400;
        color: rgb(82, 82, 82);
        margin-bottom: 5px;
    }
    
    .trait_vert{
        width: 40px;
        border-bottom: 3px solid $tertiaire;
        margin-bottom: 10px;

    }
}


header{
    width: 100%;
    margin: 0px;

    .entete{
        @include flex_center;
        margin-bottom: 5px;
                
        h1{
            @include h1_;
            padding: 0px;
            padding-top: 10px;
            font-size: 3rem;
            font-weight: 100;
            box-shadow: none;
            border-bottom: none;
        }        

        svg{
            font-size: 2rem;
            position: absolute;
            left: 5%;
            top: 2.2%;        
        }
    }

    .image_header{
        overflow: hidden;
        width: 100%;
        height: 240px;        

        img{
            overflow: hidden;
            object-fit: cover;
            width: 100%;            
            height: inherit;
            
        }
    }

}

main{   
    position: relative;
    width: 100%;
    border-top: 1px solid white;
    background-color: white;
    border-radius: 35px;
    margin-top: -40px;

    
    .menu{
        @include centrage_page;
    }

    .nom_resto{
        margin-top: 10px;
        @include flex_between;

        .div_coeur{ 
            @include coeur_menu;

            input:checked ~ .coeur_plein {
                opacity: 1;
                animation: none;
            }

            input:checked ~ .coeur_vide{
                opacity: 0;
            }

          
            input{
                position: absolute;
                opacity: 0;                
                width: 22px;
                height: 22px;
                z-index: 3;                
            }      
        }       
    }

    section{
        margin-bottom: 20px; 

        a:hover{

            .check{
                width: 110px;
                transform-origin: 100% 50%;
                transition: all 0.5s linear;
            }
            .plat_choisi{
                width: 60px;
                transform-origin: 100% 50%;
                transition: all 0.5s linear;
            }

            svg{                
                animation: rotation 0.5s linear;
                visibility: visible;

                @keyframes rotation {
                    0% {
                        -webkit-transform: rotate(0);
                                transform: rotate(0);
                                opacity: 0;
                      }
                      100% {
                        -webkit-transform: rotate(360deg);
                                transform: rotate(360deg);
                                opacity: 1;
                      }
                }
            }
        }
            

        a{
            @include style_btn;
            @include flex_between;  
            margin-bottom: 15px; 

            svg{
                color: white;
                font-size: 2.1rem;  
                visibility: hidden; 
                transition: all 0.3s linear;                            
                animation: sortie 0.3s linear;
                
                @keyframes sortie {
                    0%{
                        transform: scale(1);
                        opacity: 1;
                    }
    
                    100%{
                        transform: scale(0);
                        opacity: 0;
                    }
                }
            }

            .check{
                @include flex_between;
                height: 7rem;
                width: 50px;
                transform-origin: 100% 50%;
                transition: all 0.3s linear;
                overflow: hidden;                                
            }
            
            .plat_choisi{
                @include flex_center;
                height: 7rem;
                border-radius: 0 1.8rem 1.8rem 0;
                background-color: #99e2d0;
                margin-left: -95px;
                width: 0px;
                transition: all 0.3s linear;  
                                            
            }
        }

        a:hover{            
            box-shadow: 0px 6px 6px -2px #444444;
            opacity: 0.8;        
        }

        .ordre{
            animation: apparition_menu 1s linear both;

            &.delay1{
                animation-delay: 2ms;
            }   
            &.delay2{
                animation-delay: 400ms;
            }                     
            &.delay3{
                animation-delay: 600ms;
            }          
            &.delay4{
                animation-delay: 800ms;
            }          
            &.delay5{
                animation-delay: 1000ms;
            }          
            &.delay6{
                animation-delay: 1200ms;
            }          
            &.delay7{
                animation-delay: 1400ms;
            }          
            &.delay8{
                animation-delay: 1600ms;
            }          
            &.delay9{
                animation-delay: 1800ms;
            }          
            &.delay10{
                animation-delay: 2000ms;
            }  

            @keyframes apparition_menu {
                0% {
                    -webkit-transform: rotateX(-100deg);
                            transform: rotateX(-100deg);
                    -webkit-transform-origin: top;
                            transform-origin: top;
                    opacity: 0;
                  }
                  100% {
                    -webkit-transform: rotateX(0deg);
                            transform: rotateX(0deg);
                    -webkit-transform-origin: top;
                            transform-origin: top;
                    opacity: 1;
                  }
            }             
        }
    }

    .texte_plats{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        
        p{
            margin: 0px;
            font-weight: 400;
            font-size: 1.4rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        h4{
            margin-top: 0px;
            max-block-size: 20px;
            font-size: 1.7rem;
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .prix{
        padding-right: 20px;
        align-self: end;
        padding-bottom: 15px; 
        font-size: 1.5rem;       
    }

    button{
        @include bouton_rose;
        @include flex_center;
        margin: 40px auto;           
    }

    button:hover{
        box-shadow: 0px 5px 10px 2px #444444; 
        opacity: 0.8;        
    }

    button:active{
        transform: translate(0, 5px);
        opacity: 1;    
        box-shadow: 0px 1px 10px 0px #444444;    
    }



}

footer{
    background-color: #353535;
    width: 100%;
    color: white;
    padding-bottom: 30px;
    margin-bottom: -10px;

    p{
        color: white;        
        margin: 6px 0px;
        font-size: 1.6rem;
    }

    h4{
        font-family: Shrikhand, Roboto, serif;
        @include centrage_page;
        font-size: 1.8rem;
        font-weight: normal;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    
    .liens_footer{
        @include centrage_page;

        svg{
            padding-right: 10px;
            font-size: 1.3rem;
            vertical-align: baseline;
        }
    }
}


@media screen and (min-width: 768px){
    
    
    header .entete{

        svg{
            top: 1.6%;
        }
    }

    body{
        .nom_resto{
            justify-content: center;
        }

        h3{
            text-align: center;
        }

        .trait_vert{            
            width: 15%;
            @include flex_center;
            margin: 20px auto;
        }

        button{
            width: 35%;
        }
    }
}

@media screen and (min-width: 992px){

    body{

        height: 100%;
        margin-bottom: 0px;
        
        .nom_resto{
            width: 100%;
            margin-top: 20px;

            .div_coeur{
                top: 8%;
            }
        }

        form{
            width: 100%;
        }

        .menu{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: 30px;


            section{
                margin-top: 20px;
                width: 30%;
            }

            button{
                max-width: 380px;
            }
        }

        footer{
            margin-bottom: -20px;            
        }
    }


}