@import "variables.scss";
@import "mixins.scss";
@import "normalize.css";

:root{
    font-size: 10px;
    width: 100%;  
}

body{
    
    font-family: Roboto, serif;   
    margin: 0px !important;     

    h2{
        font-size: 2.4rem;
        font-weight: 600;
    }

    p, input{
        font-size: 1.6rem;
    }

    a{
        text-decoration: none;
        color: black;
    }

/***************loader*********************/

    .lettres{
        position: relative;
        font-family: Shrikhand;
        font-size: 20px;
        color: #2b2b2b;
        animation: pulse 1.2s linear infinite;

        &:nth-child(1) {
            animation-delay: 0.1s;    
        }
        &:nth-child(2) {
            animation-delay: 0.2s;    
        }
        &:nth-child(3) {
            animation-delay: 0.3s;    
        }
        &:nth-child(4) {
            animation-delay: 0.4s;    
        }
        &:nth-child(5) {
            animation-delay: 0.5s;    
        }
        &:nth-child(6) {
            animation-delay: 0.6s;    
        }
        &:nth-child(7) {
            animation-delay: 0.7s;    
        }
        &:nth-child(8) {
            animation-delay: 0.8s;    
        }
        &:nth-child(9) {
            animation-delay: 0.9s;    
        }
        &:nth-child(10) {
            animation-delay: 1s;           
        }
        &:nth-child(11) {
            animation-delay: 1.1s;    
        }
            
        @keyframes pulse {
            0% {
                color: white;
                text-shadow: 0 0 6px #99e2d0;
            }
            90% {
                color: #2b2b2b;
                text-shadow: none;
            }
            100% {
                color: white;
                text-shadow: 0 0 6px #99e2d0;
            }
        }
    }

    .page_loader{
        inset: 0px;
        z-index: 20;
        margin: auto;
        position: fixed;        
        background: rgb(0, 0, 0, 0.9);        
        width: 100%;
        height: auto;
        @include flex_center;
        animation: end_loader 3s forwards;

        @keyframes end_loader {
            0%{
                transform: scale(1);
                filter: blur(0px);
                opacity: 1;
                visibility: visible;
            }
            80%{
                transform: scale(1);
                filter: blur(0px);
                opacity: 1;
            }
            100%{
                transform: scale(2);
                filter: blur(4px);
                opacity: 0;
                visibility: hidden;
            }
        }

        .loader{
            display: block;  
            position: absolute;         
            width: 210px;
            height: 210px;
            border-radius: 50%;
            border: 6px solid transparent;
            border-top-color: #9356dc;
            animation:  spin 2s linear infinite;
        }

        .loader::before, .loader::after{
            content: "";   
            position: absolute;         
            border-radius: 50%;
            border: 6px solid transparent;
        }

        .loader::before{
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            border-top-color: #ff79da;
            animation: spin 3s linear infinite;
        }
                
        .loader::after{
            top: 25px;
            left: 25px;
            bottom: 25px;
            right: 25px;
            border-top-color: #99e2d0;
            animation: spin 1.5s linear infinite; 
        }

            
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);}
        }
    }        
    
/********************fin loader**************/

}

header{
    margin: 0px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    background-color: #eaeaea;

    h1{
        font-family: Shrikhand, serif;
        font-size: 3.2rem;
        font-weight: 100;
        text-decoration: none;
        color: black;
        margin: 0px;  
        padding-bottom: 10px; 
        border-bottom: 1px solid lightgrey; 
        box-shadow: 0px 3px 5px #cdcdcd;
        background-color: white;
    }

    a{
        text-decoration: none;
    }

    form{
        width: 35%;
        margin-left: -15px;
    }

    input{  
        width: auto;     
        height: 40px;
        font-weight: 500;
        color: #4c4c4c;
        background: transparent;
        border: none;
        text-align: center;
    }

    .localisation{
        height: 50px;
        @include flex_center;
        margin-left: -20px;
    }

    svg{
        font-size: 1.8rem;        
    }
} 

#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;

    h2{
        font-weight: 600;
        text-align: center;
        margin-bottom: 0;
        width: 70%;
    }
    
    p{   
        font-size: 1.8rem;     
        text-align: center;
        color: #7e7e7e;
        margin-bottom: 30px;
        width: 90%;
    }

    .presentation_btn{
        @include bouton_rose;
    }    

    .presentation_btn:hover{
        box-shadow: 0px 5px 10px 2px #444444; 
        opacity: 0.8;       
    }

    .presentation_btn:active{
        transform: translate(0, 5px);
        opacity: 1;    
        box-shadow: 0px 1px 10px 0px #444444;
    }
}

#fonctionnement{
    width: 85%;
    margin: auto;
    padding-left: 20px;
    margin-bottom: 120px;

    h2{
        margin-left: -20px
    }

    .btn_fonctionnement:hover{
        box-shadow: 0px 6px 6px -2px #444444;
    }

    .btn_fonctionnement{
        @include style_btn;
        @include flex_start;
        margin-bottom: 30px;        
        font-weight: 600;

        .icones_accueil{
            margin-left: 40px;
            width: 12%;
        }
        
        .numeros{
            background-color: $primaire;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            @include flex_center;
            color: white;
            position: absolute;
            left: 8%;
            
            p{
                font-weight: 400;  
                font-size: 1.4rem;                
            }
        }

    }

    .btn_fonctionnement:hover, :active{
        background-color: #f5edff;

        .icones_accueil{
            color: $primaire; 
        }
    }

    .icones_accueil{
        @include icones_fonctionnement;
        width: 20%;
    }
}

#restaurants{
    margin-bottom: 60px;

    h2{
        margin-left: 20px
    }

    h3{
        font-size: 1.8rem;
        margin-bottom: 5px;        
    }

    .main_cards:hover{
        box-shadow: 0px 4px 6px 0px #ff79da;
        border: 1px solid #9356dc;
        opacity: 0.8;
    }

    .main_cards{        
        @include centrage_page;
        height: 250px;
        overflow: hidden;
        border: 0px solid;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 2px 12px 0px #CDCDCD;
        margin-bottom: 20px;
        position: relative;

        .new{
            position: absolute;
            top: 5%;
            left: 73%;
            background-color: $tertiaire;
            border-radius: 2px;
            box-shadow: 1px 2px 5px -2px grey;
            width: 75px;
            text-align: center;
            color: #008766;            
            z-index: 1;

            p{
                font-size: 1.3rem;
                margin: 6px 0px;
                font-weight: 500;
            }
        }

        img{
            height: 220px;
            width: 100%;
            position: absolute;
            top: -50px;           
            object-fit: cover;
        }

        .text_cards{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 170px;
            padding-left: 15px;        

            p{
                margin: 0px;
                font-size: 1.7rem;
            }
        }
        
        .div_coeur{ 
            @include coeur;
        }
    }
}

footer{
    background-color: #353535;
    width: 100%;
    color: white;
    padding-bottom: 30px;
    margin-bottom: 0px;

    p{
        color: white;        
        margin: 6px 0px;
    }

    h4{
        font-family: Shrikhand, Roboto, serif;
        @include centrage_page;
        font-size: 1.8rem;
        font-weight: normal;
        padding-top: 20px;
        margin-bottom: 20px
    }
    
    .liens_footer{
        @include centrage_page;

        svg{
            padding-right: 10px;
            font-size: 1.3rem;
            vertical-align: baseline;
        }
    }
}

    
