@import "normalize.css";
:root {
  font-size: 10px;
  width: 100%;
}

body {
  margin: 0px;
  font-family: Roboto, serif;
}
body a {
  text-decoration: none;
  color: black;
  color: #353535;
}
body h2 {
  font-family: Shrikhand, Roboto, serif;
  font-size: 2.8rem;
  font-weight: 100;
  margin-bottom: 10px;
}
body h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(82, 82, 82);
  margin-bottom: 5px;
}
body .trait_vert {
  width: 40px;
  border-bottom: 3px solid #99e2d0;
  margin-bottom: 10px;
}

header {
  width: 100%;
  margin: 0px;
}
header .entete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
header .entete h1 {
  font-family: Shrikhand, serif;
  font-size: 3.2rem;
  text-decoration: none;
  color: black;
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 3px 5px #cdcdcd;
  background-color: white;
  padding: 0px;
  padding-top: 10px;
  font-size: 3rem;
  font-weight: 100;
  box-shadow: none;
  border-bottom: none;
}
header .entete svg {
  font-size: 2rem;
  position: absolute;
  left: 5%;
  top: 2.2%;
}
header .image_header {
  overflow: hidden;
  width: 100%;
  height: 240px;
}
header .image_header img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: inherit;
}

main {
  position: relative;
  width: 100%;
  border-top: 1px solid white;
  background-color: white;
  border-radius: 35px;
  margin-top: -40px;
}
main .menu {
  width: 90%;
  margin: auto;
}
main .nom_resto {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .nom_resto .div_coeur {
  width: auto;
  position: absolute;
  top: 3.3%;
  left: 85%;
  cursor: pointer;
}
main .nom_resto .div_coeur .coeur_vide, main .nom_resto .div_coeur .coeur_plein {
  width: 22px;
  height: 22px;
  position: absolute;
}
main .nom_resto .div_coeur .coeur_plein {
  opacity: 0;
}
main .nom_resto .div_coeur:hover .coeur_vide {
  opacity: 0;
}
main .nom_resto .div_coeur:hover .coeur_plein {
  -webkit-animation: apparition 1s ease-in-out forwards;
          animation: apparition 1s ease-in-out forwards;
}
@-webkit-keyframes apparition {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
main section {
  margin-bottom: 20px;
}
main section a {
  border: none;
  height: 7rem;
  width: 100%;
  border-radius: 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  box-shadow: 0px 4px 10px 1px #dddddd;
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
main section a:hover {
  box-shadow: 0px 6px 6px -2px #444444;
  opacity: 0.8;
}
main section .ordre {
  -webkit-animation: apparition_menu 1s linear both;
          animation: apparition_menu 1s linear both;
}
main section .ordre.delay1 {
  -webkit-animation-delay: 2ms;
          animation-delay: 2ms;
}
main section .ordre.delay2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
main section .ordre.delay3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
main section .ordre.delay4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
main section .ordre.delay5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
main section .ordre.delay6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
main section .ordre.delay7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
main section .ordre.delay8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
main section .ordre.delay9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
main section .ordre.delay10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
@-webkit-keyframes apparition_menu {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes apparition_menu {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
main .texte_plats {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
main .texte_plats p {
  margin: 0px;
  font-weight: 400;
  font-size: 1.4rem;
}
main .texte_plats h4 {
  margin-top: 0px;
  max-block-size: 10px;
  font-size: 1.7rem;
  margin-bottom: 15px;
}
main .prix {
  padding-right: 20px;
  align-self: end;
  padding-bottom: 13px;
  font-size: 1.5rem;
}
main button {
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  justify-content: center;
  border: none;
  height: 5rem;
  width: 60%;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  box-shadow: 0px 5px 10px 2px #CDCDCD;
  color: white;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  transform: all 0.1s;
}
main button:hover {
  box-shadow: 0px 5px 10px 2px #444444;
  opacity: 0.8;
}
main button:active {
  transform: translate(0, 5px);
  opacity: 1;
  box-shadow: 0px 1px 10px 0px #444444;
}

footer {
  background-color: #353535;
  width: 100%;
  color: white;
  padding-bottom: 30px;
  margin-bottom: -10px;
}
footer p {
  color: white;
  margin: 6px 0px;
  font-size: 1.6rem;
}
footer h4 {
  font-family: Shrikhand, Roboto, serif;
  width: 90%;
  margin: auto;
  font-size: 1.8rem;
  font-weight: normal;
  padding-top: 20px;
  margin-bottom: 20px;
}
footer .liens_footer {
  width: 90%;
  margin: auto;
}
footer .liens_footer svg {
  padding-right: 10px;
  font-size: 1.3rem;
  vertical-align: baseline;
}/*# sourceMappingURL=style_pages.css.map */